* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* Fixed Pages */

.fixit {
    height: 100vh;
}

/* Navbar and Hero */

#links-container {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: auto;
    font-size: 1.25rem;
}
#links-container img {
    width: 200px;
}
.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: #FFFBF4;
    justify-content: center;
    align-items: center;
    ul {
        margin: auto 35px;
    }
    a {
        text-decoration: none;
        color: black;
        width: max-content;
    }
}
.container a:hover {
    text-decoration: underline;
}
#slideshow video{
    height: 100%;
    width: 100vw;
    object-fit: cover;
    border-bottom: 3px double black;
    padding-bottom: 10px;
}


/* Sidebar Below */

.container svg {
    fill: black;
}
#sidebar-active {
    display: none;
}
.open-sidebar-btn, .close-sidebar-btn {
    display: none;
}

/* Footer Below */

#footer {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "content"
    "copy"
    ;
    background-color: #FFFBF4;
    img {
        width: 200px;
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 1.125rem;
    }
}
#footer a.topnav:hover {
    text-decoration: underline;
}
.f-content ul {
    gap: 10rem;
    font-size: 1.125rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: content;
}
#copyright {
    grid-area: copy;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

/* Space Below */

.spacer {
    height: 8vh;
    background: linear-gradient(0deg, #B7AB9D, #FBEDD2);
}

/* Button Styles */

.cta a {
    color: black;
    text-decoration: none;
    background: #d6c9b9;
    padding: 10px 56px;
    border-radius: 50px;
    font-size: 1.5rem;
}
.cta a:hover {
    background-color: white;
    border: 2px solid #d6c9b9;
}
/* Home Page Content */

#mission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 50px 20px;
}
#mission-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin: 0px 12px;
        width: 100%;
    }
}
#mission-img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin: 0px 12px;
        width: 100%;
    }
}

/* Single Column Styles  */

.single-column {
    width: 72%;
    min-width: 330px;
    margin: 0px auto;
    p {
        text-align: center;
        margin: 20px 0px;
        padding-top: 50px;
        font-size: 1.5rem;
    }
    img {
        padding-top: 50px;
        width: 100%;
    }
}

/* Home Cont */

#link1 {
    padding-bottom: 50px;
}
#two-columns {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 330px;
}
#eleven {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    min-width: 330px;
    padding: 0px 50px;
}
#forgiveness img {
    width: 500px;
}
#eleven-eleven img {
    width: 100%;
}
#our-story {
    text-align: center;
    margin: 0px;
    padding: 24px;
    h2 {
        margin-top: 24px;
        font-size: 2.75rem;
    }
    p {
        margin: 36px 300px;
        font-size: 1.5rem;
    }
}
#quote img {
    width: 100%;
    padding: 50px;
}



/* About Us Page */

#about-us {
    position: relative;
    text-align: center;
    z-index: 1;
    background:
        linear-gradient(0deg, #fff8, #fff8),
        url(../images/plantbg.jpg)
    ;
    background-size: cover;
}
.bodycopy {
    background-color: #FFFBF4;
    margin: 100px auto;
    width: 70vw;
    padding: 35px 0px;
    h2 {
        margin: 24px;
        font-size: 2.75rem;
    }
    p {
        margin: 36px 100px;
        font-size: 1.5rem;
    }
}
#columns {
    visibility: hidden;
    display: none;
    grid-template-columns: 1200px 1fr;
}
#healing {
    text-align: center;
    margin: 100px 0px;
    h2 {
        padding-bottom: 24px;
        font-size: 2.75rem;
    }
    p {
        margin: 20px 150px;
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.5rem;
    }
}
#healing a {
    font-size: 1.5rem;
}
#heal-imgs {
    display: grid;
    align-items: center;
}
#healing-img1 {
    width: 100%;
    object-fit: contain;
    height: 70vh;
}
#healing-img2 {
    width: 100%;
    object-fit: contain;
    height: 40vh;
}


/* Crisis Page */
#crisis-content {
    margin: 130px auto;
    h2 {
        font-size: 2.75rem;
        text-align: center;
    }
    ol {
        font-size: 1.5rem;
        padding: 45px 0px;
    }
}
#p1, #p2 {
    padding: 24px;
    border-bottom: 3px double black;
}
#bg-container {
    background:
        linear-gradient(0deg, rgba(254, 248, 240, 0.705), rgba(247, 244, 241, 0.705)),
        url(../images/crisisbg.jpg)
    ;
    background-size: cover;
}



/* Coming Soon Page Styles */
.coming-soon {
    height: 100vh;
    margin-top: 50px;
    border-top: 3px double black;
    border-bottom: 3px double black;
    margin-bottom: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    h2 {
        font-size: 4.75rem;
    }
    img {
        width: 100%;
    }
}
.title-class {
    text-align: center;
    padding: 20px;
    border: 3px double rgb(36, 84, 36);
}


/* Events Page */

#events-content {
    border: 3px double black;
    margin: 100px auto 50px;
    padding-bottom: 80px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#events {
    text-align: center;
    margin: 80px auto 40px;
    h2 {
        font-size: 1.75rem;
    }
    h1 {
        font-size: 3rem;
    }
}

#upcoming-event-cont {
    margin: 150px 100px;
    display: flex;
    justify-content: center;
    img {
        width: 50%;
    }
}

/* Autism Page */

#autism-single {
    width: 80%;
    min-width: 330px;
    margin: 0px auto;
    img {
        width: 80%;
    }
}
#autism-comingsoon {
    margin: 0px 0px 100px 0px;
    display: flex;
    justify-content: center;
}
#autism-title {
    margin: 100px 0px 40px 0px;
    p {
        font-size: 2.25rem;
    }
}

/* Insurance Page */

#insurance-title {
    margin: 50px 100px;
    p {
        font-size: 2.25rem;
    }
}
#insurance-comingsoon {
    margin: 150px 100px;
}


/* Donations Page */

#coming-soon-donate {
    height: 100vh;
    margin-top: 50px;
    border-top: 3px double black;
    border-bottom: 3px double black;
    margin-bottom: 50px;
    h2 {
        font-size: 4.75rem;
    }
}
#zelle {
    text-align: center;
}
#donate-cta {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding-top: 50px;
}
#donations-title {
    padding: 50px;
    margin: 100px auto;
    width: 70%;
    p {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 3rem;
    }
}
#donations-pic {
    img {
        width: 100%;
        object-fit: contain;
        height: 50vh;
        margin: 50px auto;
    }
}

/* Self Care Page */

#bg {
    background:
        linear-gradient(0deg, rgba(251, 245, 239, 0.717), rgba(254, 251, 247, 0.705)),
        url(../images/selfcare.jpg)
    ;
    object-fit: cover;
}
.selfc-singlecol {
    border-bottom: 3px double black;
    min-width: 400px;
    margin: 0px auto;
    text-align: center;
    padding: 50px;
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 2.25rem;
    }
}
#lines-cont {
    border-bottom: 3px double black;
    margin-top: 20px;
    margin-bottom: 65px;
}
#selfcarecont {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}
.card {
    text-align: center;
    width: 350px;
    border: 2px double black;
    border-radius: 5px;
    padding: 12px;
    margin: auto;
    box-shadow: -.5px 4px 12px #9e9081;
    background: linear-gradient(-10deg, #ddd8d4, #fcf6f6, #ffffff);
    a {
        color: black;
    }
}

/* Contact Form */

#contact-imgcont {
    background:
        linear-gradient(0deg, rgba(251, 245, 239, 0.535), rgba(254, 251, 247, 0.539)),
        url(../images/contactbg.jpg)
    ;
    background-size: cover;
}
#contact-us {
    text-align: center;
    font-size: 2.75rem;
    margin-top: 60px;
    margin-bottom: 30px;
}
#form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type='text'],
input[type='email'],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
textarea {
    height: 150px;
}
input[type='submit'] {
    background-color: #d6c9b9;
    color: black;
    border: none;
    padding: 10px 46px;
    border-radius: 50px;
    font-size: 1.125rem;
}
input[type='submit']:hover {
    background-color: white;
    border: 2px solid #d6c9b9;
}






/* Media Queries Below  */



/* Home Page */

@media screen and (max-width: 2150px) {
    #links-container {
        gap: 7rem;
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 1987px) {
    #our-story {
        margin: 20px;
        padding: 16px;
        h2 {
            margin-top: 20px;
        }
        p {
            margin: 36px 200px;
            font-size: 1.145rem;
        }
    }
    #ourstory-img {
        padding-top: 40px;
    }
    #footer {
        background-color: #FFFBF4;
        a {
            font-size: 1rem;
        }
    }
    .f-content ul {
        gap: 7rem;
        font-size: 1rem;
    }
    
}
@media screen and (max-width: 1950px) {
    #columns {
        grid-template-columns: 1fr 1fr;
    }
    #healing {
        h2 {
            font-size: 2.5rem;
        }
        p {
            margin: 20px 50px;
        }
    }
}
@media screen and (max-width: 1732px) {
    #links-container {
        gap: 5rem;
    }
    #our-story {
        margin: 0px;
        p {
            margin: 36px 30px;
        }
    }
    #quote {
        padding: 20px;
    }
}
@media screen and (max-width: 1490px) {
    .f-content ul{
        flex-wrap: wrap;
        row-gap: 14px;
    }
    #links-container{
        flex-wrap: wrap;
        row-gap: 14px;
    }
    .bodycopy {
        h2 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.125rem;
        }
    }
    .cta a {
        font-size: 1.125rem;
    }
    #healing {
        p {
            font-size: 1.125rem;
        }
        a {
            font-size: 1.125rem;
        }
    }
    #healing-img2 {
        height: 30vh;
    }
}
@media screen and (max-width: 1400px) {
    #two-columns img {
        width: 500px;
    }
}
@media screen and (max-width: 1385px) {
    .container {
        grid-template-columns: 1fr auto 80px;
    }
    #links-container{
        flex-wrap: nowrap;
        row-gap: 40px;
    }
    #links-container {
        padding: 20px;
    }
    #links-container {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        height: 100%;
        width: 300px;
        background-color: #FFFBF4;
        box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    #links-container a {
        height: auto;
        width: 100%;
        padding: 40px 0px;
    }
    .open-sidebar-btn, .close-sidebar-btn {
        display: block;
    }
    #sidebar-active:checked ~ #links-container {
        right: 0;
    }
    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    #our-story h2 {
        font-size: 2.125rem;
    }
}
@media screen and (max-width: 1250px) {
    #ourstory-img {
        padding: 0px;
    }
    .single-column p {
        font-size: 1.145rem;
    }
}
@media screen and (max-width: 1200px) {
    .single-column {
        width: 70%;
    }
    #two-columns {
        flex-direction: column;
        width: 85%;
        margin: 0px auto;
    }
    #ourstory-img {
        margin-top: 20px;
    }
    #insurance-title {
        h2 {
            font-size: 3rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}
@media screen and (max-width: 1080px) {
    .bodycopy {
        p {
            margin: 24px 50px;
        }
    }
    #columns {
        grid-template-columns: none;
    }
    #heal-imgs {
        display: flex;
    }
    #healing-img1 {
        height: 40vh;
    }
    #healing-img2 {
        padding: 20px;
    }
}
@media screen and (max-width: 980px) {
    #ourstory-img img {
        width: 60%;
        margin-left: 135px;
    }
}
@media screen and (max-width: 800px){
    #heal-imgs {
        margin: 6px 16px;
        flex-direction: column;
    }
    #healing-img1 {
        padding: 20px;
    }
    #healing-img2 {
        width: 70%;
    }
    #healing {
        margin-top: 100px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 775px) {
    #mission-img {
        display: flex;
        justify-content: center;
    }
    #ourstory-img img {
        margin-left: 115px;
    }
}
@media screen and (max-width: 715px) {
    #mission {
        grid-template-rows: 1fr;
        grid-template-areas: 
            "chosen chosen"
            "text text"
        ;
    }
    #mission-container {
        grid-area: text;
    }
    #mission-img {
        grid-area: chosen;
    }
    .bodycopy {
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1rem;
        }
    }
    .cta a {
        font-size: 1rem;
    }
}
@media screen and (max-width: 575px) {
    #mission-container h2 {
        font-size: 1.75rem;
    }
    #mission-container p {
        font-size: 1rem;
    }
    .single-column p {
        font-size: 1rem;
        padding: 0px 24px;
    }
    #our-story h2 {
        font-size: 1.75rem;
    }
    #our-story p {
        font-size: 1rem;
    }
    .bodycopy {
        p {
            margin: 36px 16px;
        }
    }
}


/* Autism Coming Soon */

@media screen and (max-width: 1650px) {
    .coming-soon {
        display: flex;
        flex-direction: column;
    }
    .title-class {
        grid-area: words;
    }
    #autism-comingsoon {
        grid-area: image;
        margin: 0px auto;
        width: 100%;
        padding-bottom: 50px;
    }
    #insurance-comingsoon {
        margin: 50px 100px;
        img {
            object-fit: contain;
            height: 50vh;
        }
    }
    #upcoming-event-cont {
        margin: 50px 100px;
        img {
            width: 100%;
            object-fit: contain;
            height: 50vh;
        }
    }
}
@media screen and (max-width: 1435px) {
    #autism-title {
        p {
            font-size: 2rem;
        }
    }
}
@media screen and (max-width: 1375px) {
    .coming-soon {
        grid-template-rows: none;
    }
}
@media screen and (max-width: 1200px) {
    #donations-title {
        h2 {
            font-size: 3rem;
        }
        p {
            font-size: 2rem;
        }
    }
}
@media screen and (max-width: 1085px) {
    #autism-title {
        p {
            font-size: 1.5rem;
        }
    }
}
@media screen and (max-width: 930px) {
    #insurance-comingsoon {
        margin: 0px 40px;
    }
    #donations-pic {
        img {
            padding: 0px 30px;
        }
    }
}
@media screen and (max-width: 875px) {
    #events-title {
        h2 {
            font-size: 3rem;
        }
        p {
            font-size: 2rem;
        }
    }
}
@media screen and (max-width: 790px) {
    #donations-title {
        margin: 50px;
        width: auto;
        h2 {
            font-size: 2.75rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}
@media screen and (max-width: 550px) {
    #autism-title {
        margin: 50px;
    }
    #insurance-title {
        margin: 50px 50px 20px 50px;
    }
    #upcoming-event-cont {
        margin: 0px 40px;
    }
}
@media screen and (max-width: 480px) {
    #events-title {
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.125rem;
        }
    }
}
@media screen and (max-width: 400px) {
    #autism-title p {
        font-size: 1.125rem;
    }
    #insurance-title {
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.125rem;
        }
    }
    #donations-title {
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.125rem;
        }
    }
}

/* Crisis Page Below */

@media screen and (max-width: 840px) {
    #crisis-content {
        width: 90%;
        margin: 100px auto;
        h2 {
            font-size: 2rem;
        }
        ol {
            font-size: 1.125rem;
        }
    }
}
@media screen and (max-width: 520px) {
    #crisis-content {
        padding: 20px;
    }
}
@media screen and (max-width: 370px) {
    #crisis-content {
        padding: 15px;
        ol {
            font-size: 1rem;
        }
    }
    #crisis-list {
        padding: 20px;
    }
    #p1, #p2 {
        margin: 0px;
    }
}
@media screen and (max-width: 320px) {
    #crisis-content {
        padding: 10px;
    }
}